@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
html{

/* Colors */

 /* Primary */

--brightBlue: hsl(220, 98%, 61%);
--checkBackground: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

/* Neutral */

/* Light Theme */

--veryLightGray: hsl(0, 0%, 98%);
--veryLightGrayishBlue: hsl(236, 33%, 92%);
--lightGrayishBlue: hsl(233, 11%, 84%);
--darkGrayishBlue: hsl(236, 9%, 61%);
--veryDarkGrayishBlue: hsl(235, 19%, 35%);
 
/* Dark Theme */

--veryDarkBlue: hsl(235, 21%, 11%);
--veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
--lightGrayishBlue: hsl(234, 39%, 85%);
/* hover */
--lightGrayishBlue: hsl(236, 33%, 92%); 
/*  */
--darkGrayishBlue: hsl(234, 11%, 52%);
--veryDarkGrayishBlue: hsl(233, 14%, 35%);
--veryDarkGrayishBlue: hsl(237, 14%, 26%);
    
font-size: 16px;
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.125rem;
    font-family: 'Josefin Sans' , sans-serif;
}

/* App componenet */

.app > img {
    position: absolute;
    z-index: -10;
    max-width: 100%
}

    /*TodoApp*/
    .TodoApp {
        width: 90vw;
        margin: 0 auto;
        padding-top: 5vh; 
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
    }
    
    .moon{
      height: 20px;
      width: 20px;
    }
    
    .app-header {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: white;
    }
    /* AddTodo */
    
    .AddTodo {
    all: unset;
    width: 80%;
    display :block;
    margin:  auto;
    height: 100%;
    margin-top: 5vh;
    font-size: 1rem;
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
}
    /* ListTodo */
    
   .ListTodo {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7vh;
}

    .list-footer {
    display:flex;
    justify-content: space-evenly;
    margin-top: 3vh;
    background-color: white;
    height: 7vh;
    align-items:center
}
    /* TodoItem */
    .TodoItem {
        display: flex;
        height: "7vh";
        padding: 12px; 
        background-color: white;
        justify-content : space-between;
    }

    .TodoItem  input[type='checkbox'] {
        margin-right: 15px;
    }
    
    
    
    